{% if page.layout == "tutorial" %}
{% if page.url contains "/tutorials/introduction/" %}

<div class="post" dir="ltr">

    <article class="post-content">
        <div dir="rtl">

            <h1>فهرست</h1>

            <p><strong>1 - مقدمه</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/welcome-to-the-course/" %}color:red;{% endif %}" href="/tutorials/introduction/welcome-to-the-course">1.1 ) به دوره خوش آمدید</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/why-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/why-kotlin">1.2 ) چرا کاتلین؟</a></p>

            <p><strong>2 - مبانی کاتلین</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/introduction-to-jvm/" %}color:red;{% endif %}" href="/tutorials/introduction/introduction-to-jvm">2.1 ) آشنایی با JVM</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/installing-the-tooling/" %}color:red;{% endif %}" href="/tutorials/introduction/installing-the-tooling">2.2 ) نصب کردن ابزارآلات</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/the-kotlin-repl/" %}color:red;{% endif %}" href="/tutorials/introduction/the-kotlin-repl">2.3 ) کاتلین REPL</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/the-structure-of-kotlin-application/" %}color:red;{% endif %}" href="/tutorials/introduction/the-structure-of-kotlin-application">2.4 ) ساختار یک برنامه کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/kotlin-with-intellij-idea/" %}color:red;{% endif %}" href="/tutorials/introduction/kotlin-with-intellij-idea">2.5 ) کاتلین با IntelliJ IDEA</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/conventions-used-with-kotlin-and-summary/" %}color:red;{% endif %}" href="/tutorials/introduction/conventions-used-with-kotlin-and-summary">2.6 ) خلاصه بخش دوم</a></p>

            <p><strong>3 - کد نویسی مقدماتی کاتلین</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/declaring-variables-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/declaring-variables-in-kotlin">3.1 ) تعریف متغیر در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/working-with-basic-types-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/working-with-basic-types-in-kotlin">3.2 ) کار با Type های پایه ای</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/loops-and-ranges-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/loops-and-ranges-in-kotlin">3.3 ) حلقه ها در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/conditional-execution-with-if-and-when-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/conditional-execution-with-if-and-when-in-kotlin">3.4 ) عبارت های شرطی در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/package-and-imports-in-kotlin-and-summary-of-kotlin-basic/" %}color:red;{% endif %}" href="/tutorials/introduction/package-and-imports-in-kotlin-and-summary-of-kotlin-basic">3.5 ) اضافه کردن پگیج ها در کاتلین و خلاصه بخض سوم</a></p>

            <p><strong>4 - توابع</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/functions-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/functions-in-kotlin">4.1 ) توابع در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/function-with-default-and-named-parameters-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/function-with-default-and-named-parameters-in-kotlin">4.2 ) تابع با پارامترهای پیشفرض و نامیده شده</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/function-with-unlimited-parameters-in-kotlin-and-summary/" %}color:red;{% endif %}" href="/tutorials/introduction/function-with-unlimited-parameters-in-kotlin-and-summary">4.3 ) تابع با پرامترهای نامحدود و خلاصه بخش چهارم</a></p>

            <p><strong>5 - کلاس ها</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/classes-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/classes-in-kotlin">5.1 ) کلاس ها در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/member-functions-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/member-functions-in-kotlin">5.2 ) توابعِ عضو در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/visibility-modifiers-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/visibility-modifiers-in-kotlin">5.3 ) visibility modifier ها در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/kotlin-data-classes/" %}color:red;{% endif %}" href="/tutorials/introduction/kotlin-data-classes">5.4 ) کلاس های دیتا در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/enum-classes-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/enum-classes-in-kotlin">5.5 ) کلاس های enum در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/objects-in-kotlin-and-summary/" %}color:red;{% endif %}" href="/tutorials/introduction/objects-in-kotlin-and-summary">5.6 ) Object ها در کاتلین و خلاصه بخش پنج</a></p>

            <p><strong>6 - ارث بری</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/inheritance-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/inheritance-in-kotlin">6.1 ) ارث بری در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/working-with-abstract-classes-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/working-with-abstract-classes-in-kotlin">6.2 ) کارکردن با کلاس های abstract در کاتلین</a></p>

            <p><a style="{% if page.url contains "/interfaces-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/interfaces-in-kotlin">6.3 ) کلاس های interface در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/a-brief-look-at-generics-in-kotlin-and-summary/" %}color:red;{% endif %}" href="/tutorials/introduction/a-brief-look-at-generics-in-kotlin-and-summary">6.4 ) نگاه کوتاه به generic ها و خلاصه بخش شش</a></p>

            <p><strong>7 - کارکردن با Null ها</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/null-safety-and-summary/" %}color:red;{% endif %}" href="/tutorials/introduction/null-safety-and-summary">7.1 ) null safety و خلاصه بخش هفت</a></p>

            <p><strong>8 - نکات اضافه</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/type-casting-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/type-casting-in-kotlin">8.1 ) type casting در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/tuples/" %}color:red;{% endif %}" href="/tutorials/introduction/tuples">8.2 ) چندتایی ها (Tuples)</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/deconstructing-values/" %}color:red;{% endif %}" href="/tutorials/introduction/deconstructing-values">8.3 ) deconstructing values</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/working-with-exceptions/" %}color:red;{% endif %}" href="/tutorials/introduction/working-with-exceptions">8.4 ) کار کردن با exception ها</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/declaring-constants/" %}color:red;{% endif %}" href="/tutorials/introduction/declaring-constants">8.5 ) constant ها</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/typealias-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/typealias-in-kotlin/">8.6 ) typealias ها</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/annotations-in-kotlin-and-summary/" %}color:red;{% endif %}" href="/tutorials/introduction/annotations-in-kotlin-and-summary">8.7 ) annotation ها در کاتلین و خلاصه بخش هشت</a></p>

            <p><strong>9 - نگاه functionalای</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/higher-order-functions-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/higher-order-functions-in-kotlin">9.1 ) توابع Higher-Order</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/lambda-expressions-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/lambda-expressions-in-kotlin">9.2 ) عبارت های لاندا در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/closures-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/closures-in-kotlin">9.3 ) closure ها در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/extension-functions-in-kotlin-and-summary/" %}color:red;{% endif %}" href="/tutorials/introduction/extension-functions-in-kotlin-and-summary">9.4 ) عبارت های الحاقی در کاتلین و خلاصه بخش نهم</a></p>

            <p><strong>10 - قابلیت همکاری و Interoperability</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/interoperability-with-java/" %}color:red;{% endif %}" href="/tutorials/introduction/interoperability-with-java">10.1 ) همکاری با جاوا</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/talking-to-java-from-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/talking-to-java-from-kotlin">10.2 ) صحبت کردن با جاوا از کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/working-with-nulls-from-java/" %}color:red;{% endif %}" href="/tutorials/introduction/working-with-nulls-from-java">10.3 ) کار کردن با null ها از جاوا</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/talking-to-kotlin-from-java/" %}color:red;{% endif %}" href="/tutorials/introduction/talking-to-kotlin-from-java">10.4 ) صحبت کردن با کاتلین از جاوا</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/top-level-functions-and-properties-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/top-level-functions-and-properties-in-kotlin">10.5 ) توابع و خصیصه های درجه اول</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/extension-functions-from-java/" %}color:red;{% endif %}" href="/tutorials/introduction/extension-functions-from-java">10.6 ) توابع الحاقی کاتلین از جاوا</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/interop-with-java-7-and-8-and-summary/" %}color:red;{% endif %}" href="/tutorials/introduction/interop-with-java-7-and-8-and-summary">10.7 ) همکاری با جاوا 7 و 8 و خلاصه بخش دهم</a></p>

            <p><strong>11 - کتابخانه استاندارد</strong></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/kotlin-standard-library-and-working-with-collections-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/kotlin-standard-library-and-working-with-collections-in-kotlin">11.1 ) کتابخانه استاندارد کاتلین و کارکردن با کالکشن ها در کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/introduction/filtering-mapping-and-flatmapping-in-kotlin/" %}color:red;{% endif %}" href="/tutorials/introduction/filtering-mapping-and-flatmapping-in-kotlin">11.2 ) مرور کوتاه بر روی filtering و mapping و flatmapping در کاتلین</a></p>

        </div>
    </article>

</div>
{% endif %}

{% if page.url contains "/tutorials/android/" %}

<div class="post" dir="ltr">

    <article class="post-content">
        <div dir="rtl">

            <h1>فهرست</h1>

            <p>الف ) درباره این کتاب</p>

            <p>ب ) آیا این کتاب مناسب شماست؟</p>

            <p>پ ) درباره نویسنده</p>

            <p>ت ) چند سخن مترجم</p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/introduction" %}color:red;{% endif %}" href="/tutorials/android/introduction">1 - معرفی</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/introduction#کاتلین-چیست" %}color:red;{% endif %}" href="/tutorials/android/introduction#کاتلین-چیست">1.1 )‌ کاتلین چیست؟</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/introduction#با-کاتلین-به-چه-میرسیم" %}color:red;{% endif %}" href="/tutorials/android/introduction#با-کاتلین-به-چه-میرسیم">1.2 ) با کاتلین به چه میرسیم؟</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/getting-ready" %}color:red;{% endif %}" href="/tutorials/android/getting-ready">2 - آماده شدن</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/getting-ready#اندروید-استودیو" %}color:red;{% endif %}" href="/tutorials/android/getting-ready#اندروید-استودیو">2.1 ) اندروید استودیو</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/getting-ready#نصب-پلاگین-کاتلین" %}color:red;{% endif %}" href="/tutorials/android/getting-ready#نصب-پلاگین-کاتلین">2.2 ) نصب پلاگین کاتلین</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/creating-a-new-project" %}color:red;{% endif %}" href="/tutorials/android/creating-a-new-project">3 - ساختن یک پروژه جدید</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/creating-a-new-project/#ساختن-پروژه-در-اندروید-استودیو" %}color:red;{% endif %}" href="/tutorials/android/creating-a-new-project#ساختن-پروژه-در-اندروید-استودیو">3.1 ) ساختن پروژه در اندروید استودیو</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/creating-a-new-project#تنظیمات-گردل" %}color:red;{% endif %}" href="/tutorials/android/creating-a-new-project#تنظیمات-گردل">3.2 ) تنظیمات گردل</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/creating-a-new-project#تبدیل-mainactivity-به-کد-کاتلین" %}color:red;{% endif %}" href="/tutorials/android/creating-a-new-project#تبدیل-mainactivity-به-کد-کاتلین">3.3 ) تبدیل MainActivity به کد کاتلین</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/creating-a-new-project#تست-کارکردن-همه-اجزا" %}color:red;{% endif %}" href="/tutorials/android/creating-a-new-project#تست-کارکردن-همه-اجزا">3.4 ) تست کارکردن همه اجزا</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/classes-and-functions" %}color:red;{% endif %}" href="/tutorials/android/classes-and-functions">4 - کلاس ها و توابع</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/classes-and-functions#روش-تعریف-کلاس" %}color:red;{% endif %}" href="/tutorials/android/classes-and-functions#روش-تعریف-کلاس">4.1 ) روش تعریف کلاس</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/classes-and-functions#ارث-بری" %}color:red;{% endif %}" href="/tutorials/android/classes-and-functions#ارث-بری">4.2 ) ارث بری</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/classes-and-functions#توابع" %}color:red;{% endif %}" href="/tutorials/android/classes-and-functions#توابع">4.3 ) توابع</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/classes-and-functions#کانستراکتور-و-پارامترها" %}color:red;{% endif %}" href="/tutorials/android/classes-and-functions#کانستراکتور-و-پارامترها">4.4 ) کانستراکتور و پارامترها</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/writing-your-first-class" %}color:red;{% endif %}" href="/tutorials/android/writing-your-first-class">5 - نوشتن اولین کلاس</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/writing-your-first-class#ساختن-layout" %}color:red;{% endif %}" href="/tutorials/android/writing-your-first-class#ساختن-layout">5.1 ) ساختن layout</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/writing-your-first-class#آداپتور-recycler" %}color:red;{% endif %}" href="/tutorials/android/writing-your-first-class#آداپتور-recycler">5.2 ) آداپتور Recycler</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/variables-and-properties" %}color:red;{% endif %}" href="/tutorials/android/variables-and-properties">6 - مقادیر و خصیصه ها</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/variables-and-properties#تایپ-های-پایه-ای" %}color:red;{% endif %}" href="/tutorials/android/variables-and-properties#تایپ-های-پایه-ای">6.1 ) type های پایه ای</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/variables-and-properties#متغیر-ها" %}color:red;{% endif %}" href="/tutorials/android/variables-and-properties#متغیر-ها">6.2 ) متغیر ها</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/variables-and-properties#خصیصه-ها" %}color:red;{% endif %}" href="/tutorials/android/variables-and-properties#خصیصه-ها">6.3 ) خصیصه ها</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/anko-and-extension-functions" %}color:red;{% endif %}" href="/tutorials/android/anko-and-extension-functions">7 - Anko و توابع الحاقی</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/anko-and-extension-functions#anko-چیست" %}color:red;{% endif %}" href="/tutorials/android/anko-and-extension-functions#anko-چیست">7.1 ) Anko چیست؟</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/anko-and-extension-functions#شروع-به-استفاده-از-anko" %}color:red;{% endif %}" href="/tutorials/android/anko-and-extension-functions#شروع-به-استفاده-از-anko">7.2 ) شروع به استفاده از Anko</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/anko-and-extension-functions#توابع-الحاقی" %}color:red;{% endif %}" href="/tutorials/android/anko-and-extension-functions#توابع-الحاقی">7.3 ) توابع الحاقی</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/retrieving-data-from-api" %}color:red;{% endif %}" href="/tutorials/android/retrieving-data-from-api">8 - بدست آوردن دیتا با استفاده از API</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/retrieving-data-from-api#انجام-درخواست" %}color:red;{% endif %}" href="/tutorials/android/retrieving-data-from-api#انجام-درخواست">8.1 ) انجام درخواست</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/retrieving-data-from-api#انجام-درخواست-خارج-از-نخ-اصلی" %}color:red;{% endif %}" href="/tutorials/android/retrieving-data-from-api#انجام-درخواست-خارج-از-نخ-اصلی">8.2 ) انجام درخواست خارج از نخ اصلی</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/data-classes" %}color:red;{% endif %}" href="/tutorials/android/data-classes">9 - کلاس های دیتا</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/data-classes#توابع-اضافی" %}color:red;{% endif %}" href="/tutorials/android/data-classes#توابع-اضافی">9.1 ) توابع اضافی</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/data-classes#کپی-کردن-یک-کلاس-دیتا" %}color:red;{% endif %}" href="/tutorials/android/data-classes#کپی-کردن-یک-کلاس-دیتا">9.2 ) کپی کردن کلاس دیتا</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/data-classes#مپ-کردن-یک-شی-به-متغیرها" %}color:red;{% endif %}" href="/tutorials/android/data-classes#مپ-کردن-یک-شی-به-متغیرها">9.3 ) مپ کردن یک آبجکت به متغیرها</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/parsing-data" %}color:red;{% endif %}" href="/tutorials/android/parsing-data">10 - تجزیه دیتا</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/parsing-data#تبدیل-json-به-کلاس-های-دیتا" %}color:red;{% endif %}" href="/tutorials/android/parsing-data#تبدیل-json-به-کلاس-های-دیتا">10.1 ) تبدیل JSON به کلاس های دیتا</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/parsing-data#شکل-دادن-به-لایه-ی-domain" %}color:red;{% endif %}" href="/tutorials/android/parsing-data#شکل-دادن-به-لایه-ی-domain">10.2 ) شکل دادن به لایه ی domain</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/parsing-data#نمایش-دیتا-بر-روی-ui" %}color:red;{% endif %}" href="/tutorials/android/parsing-data#نمایش-دیتا-بر-روی-ui">10.3 ) نمایش دیتا بر روی UI</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/operators-overloading" %}color:red;{% endif %}" href="/tutorials/android/operators-overloading">11 - Overloading Operators</a></strong></p>

            <p><a style="{% if page.url contains "/tutorials/android/operators-overloading#جدول-اوپراتور-ها" %}color:red;{% endif %}" href="/tutorials/android/operators-overloading#جدول-اوپراتور-ها">11.1 ) جدول اوپراتور ها</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/operators-overloading#یک-مثال" %}color:red;{% endif %}" href="/tutorials/android/operators-overloading#یک-مثال">11.2 ) یک مثال</a></p>

            <p><a style="{% if page.url contains "/tutorials/android/operators-overloading#عملگرها-در-توابع-الحاقی" %}color:red;{% endif %}" href="/tutorials/android/operators-overloading#عملگرها-در-توابع-الحاقی">11.3 ) عملگرها در توابع الحاقی</a></p>

            <p><strong><a style="{% if page.url contains "/tutorials/android/making-the-forecast-list-clickable" %}color:red;{% endif %}" href="/tutorials/android/making-the-forecast-list-clickable">12 - تجزیه دیتا</a></strong></p>

            <p>بقیه فصل ها در حال ترجمه است</p>
        </div>

    </article>

</div>

{% endif %}

{% if page.url contains "/tutorials/js/" %}

<div dir="rtl">

    <h1 id="section">فهرست</h1>

    <p><strong>1 - مقدمه</strong></p>

    <p><a style="{% if page.url contains "/tutorials/js/hello-world/" %}color:red;{% endif %}" href="/tutorials/js/hello-world/">1.1 ) یک Hello World ساده</a></p>

    <p><strong>2 - مبانی کاتلین/JS</strong></p>

    <p><a style="{% if page.url contains "/tutorials/js/working-with-the-dom-part1/" %}color:red;{% endif %}" href="/tutorials/js/working-with-the-dom-part1/">2.1 ) کار با DOM - بخش اول</a></p>

    <p><a style="{% if page.url contains "/tutorials/js/working-with-the-dom-part2/" %}color:red;{% endif %}" href="/tutorials/js/working-with-the-dom-part2/">2.2 ) کار با DOM - بخش دوم</a></p>

    <p><a style="{% if page.url contains "/tutorials/js/working-with-the-dom-part3/" %}color:red;{% endif %}" href="/tutorials/js/working-with-the-dom-part3/">2.3 ) کار با DOM - بخش سوم</a></p>

    <p><strong>2 - همکاری با JS</strong></p>

    <p><a style="{% if page.url contains "/tutorials/js/javascript-introp/" %}color:red;{% endif %}" href="/tutorials/js/javascript-introp/">2.1 ) همکاری با JS</a></p>

    <p>بقیه فصل ها در حال ساخت است</p>
</div>

{% endif %}
{% endif %}

{% if page.layout == "post" %}
<nav>
    <ul>
        {% for post in site.posts %}
        <li>
            <a style="{% if page.url == post.url %}color:red;{% endif %}" href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
