.post {
  .post-header {
    margin: 0 100px;
    margin-bottom: 40px;
    padding: 20px;

    .post-title {
      font-size: 40px;
      font-weight: normal;
      margin: 0 -100px;
      @include media-query($on-palm) {
        font-size: 34px;
      }
    }

    .post-edit-github-btn {
      margin-left: -100px;
      margin-top: -60px;
      float: left;
      @include media-query($on-palm) {
        display: none;
      }
    }

    .edit-btn {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 8px 16px;
      display: inline-block;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 15px;
    }

    .edit-github-btn {
      display: inline-block;
      vertical-align: middle;
      background-color: white;
      color: black;
      border: 2px solid #e7e7e7;
      text-decoration: none;
    }

    .edit-github-btn:hover {
      background-color: #e7e7e7;
    }

    .edit-github-btn-text {
      display: inline-block;
      vertical-align: middle;
      font-family: Vazir;
      text-decoration: none;
    }

    .post-meta {
      color: #999;
      font-size: $small-font-size;
      margin-right: -25px;
      padding-top: 30px;
    }

    @include media-query($on-palm) {
      text-align: center;
      margin-bottom: 10px;
      padding: 10px;
    }
  }

  .post-content {
    color: #333;

    h1, h2, h3, h4, h5, h6 {
      color: #000;
    }

    h1, h2 {
      margin-bottom: 10px;
      margin-top: 30px;
    }

    h1, h2, h3 {
      border-bottom: 1px solid #CCC;
    }

    //pre[class="kotlin-code"] {
    //  margin: 0 30px !important;
    //  @include media-query($on-palm) {
    //    margin: 0 10px !important;
    //  }
    //}
    //
    pre {
      margin: 0 -30px;
      @include media-query($on-palm) {
        margin: 0 -10px;
      }
    }

    .middle-image {
      display: block;
      margin-left: auto;
      margin-right: auto
    }
  }

  .post-comments {
    padding-top: 30px;
  }
}
